@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-50: #fff1f2;
  --color-brand-100: #ffe4e6;
  --color-brand-200: #fecdd3;
  --color-brand-300: #fda4af;
  --color-brand-400: #fb7185;
  --color-brand-500: #f43f5e;
  --color-brand-600: #e11d48;
  --color-brand-700: #be123c;
  --color-brand-800: #9f1239;
  --color-brand-950: #4c0519;

  --color-darkbg: #09090b;
  --color-darkcard: #18181b;
}

@layer base {
  body {
    @apply select-none;
    overflow-x: hidden;
  }
}

/* استایل اسکرول‌بار */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-200 dark:bg-zinc-800 rounded-full hover:bg-brand-500 transition-colors;
}